.edit-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(135deg, #667eea, #764ba2); */
}

.edit-profile-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  text-align: center;
  width: 400px;
  color: rgb(9, 9, 9);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.edit-profile-card h2 {
  margin-bottom: 20px;
}

.edit-profile-card label {
  display: block;
  font-size: 14px;
  margin: 10px 0 5px;
  text-align: left;
}

.edit-profile-card input,
.edit-profile-card textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.edit-profile-card textarea {
  height: 80px;
}

.edit-profile-card button {
  width: 100%;
  padding: 12px;
  /* background: linear-gradient(90deg, #ff758c, #ff7eb3); */
  color: rgb(234, 229, 229);
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.edit-profile-card button:hover {
  transform: scale(1.05);
  /* background: linear-gradient(90deg, #ff7eb3, #ff758c); */
}
