.home {
    text-align: center;
    padding: 3rem;
  }
  
  .home h1 {
    font-size: 4rem;
    color: #000000;
    font-weight: bold;
    /* font-family: Arial; */
    padding-top: 5%; 
    position: relative;

  }
  
  .home p {
    font-size: 1.5rem;
    color:  #fafafad8;
    margin-top: -18px;
    ;
  }
